#g-signin2{
	display: flex;
    align-items: center;
    justify-content: center;
}

#h2{
	/*display: flex;
	align-items: center;
    justify-content: center;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 200px;
}

#g-signout{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
    background: white;
    color: #444;
    width: 170px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}